<!DOCTYPE html>
  <html lang="en">
    <body style="font-size:20px; padding:50px;">
      <% include ./partials/_header %>
      <br>
      <br>
      <label><strong>Short Link:</strong></label>&nbsp; <%= locals.shortURL %>
      <br>
      <label><strong>Long Link:</strong></label>&nbsp; <a href="/u/<%= locals.shortURL %>"> <%= locals.longURL %> </a>
      <br>
      <br>
      <form method="POST" action="/urls/<%= locals.shortURL %>" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
      </form>
      <form method="POST" action="/urls/<%= shortURL %>/edit" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="GET">
          <button type="submit">Edit</button>
      </form>
      <br>
    </body>
  </html>
